.custom-scrollbar {
  scrollbar-track-color: #eaecf0;
  scrollbar-color: #00a5b2;
  scrollbar-width: 3px;
}
.custom-scrollbar::-webkit-scrollbar {
  background-color: #eaecf0;
  width: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.586);
  border-radius: 3px;
}
.fade-up-animation {
  opacity: 0;
  animation: fade-up 0.5s ease-out forwards;
}
.fade-up-animation img {
  transition: 0.2s;
}
.fade-up-animation:hover img {
  transform: scale(1.2);
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 420px) {
  .products-section {
    max-height: 60vh !important;
  }
}
