.fade-up-animation {
  opacity: 0;
  animation: fade-up 0.5s ease-out forwards;
}
.fade-up-animation img {
  transition: 0.2s;
}
.fade-up-animation:hover div > div > img {
  transform: scale(1.2);
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
