@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-regular);
}
body {
  overflow: hidden;
}
.products-section {
  scrollbar-track-color: #eaecf0;
  scrollbar-color: #00a5b2;
  scrollbar-width: 3px;
}
.products-section::-webkit-scrollbar {
  background-color: #eaecf0;
  width: 3px;
}
.products-section::-webkit-scrollbar-thumb {
  background-color: #00a5b2;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
